body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 26.4rem;
    width: 15.4rem;
}
.header {
    height: 5rem;
    width: 15.4rem;

    display: grid;
    justify-content: center;
    align-items: center;
}
.playerHint {
    font-size: 1rem;
}
.resultHint {
    font-size: 1rem;
}

.playBox {
    height: 15.4rem;
    width: 15.4rem;

    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxCell {
    width: 5rem;
    height: 5rem;

    font-size: 5rem;
    text-align: center;
}

.resetButton {
    height: 3rem;
    width: 8rem;

    font-size: 1.5rem;
    margin-top: 1rem;

    margin-left: 3.7rem;
}